.container {
    border: 2px solid #dbd1d1;
    margin-top: 8%;
}

input[type=submit] {
    background-color: rgb(82, 207, 86);
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 10%;
}

input[type=submit]:hover {
    opacity: 0.7;
}

.mainHeader {
    text-align: center;
    margin: 24px 0 12px 0;
}

.upload {
    padding: 16px;
    width: 800px;
    margin: 0 auto;
}

.kasaHeader h1 {
    text-align: center;
}

.kasaContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px;
}

.form-group input,
label {
    margin-left: 20px;
}

.kasaMain {
    background-color: rgb(247, 233, 233);
    width: 70%;
    display: flex;
}

.kasaProduct {
    background-color: rgb(247, 233, 233);
    width: 25%;
    margin-right: 20px;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: flex;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.kasaPayment {
    display: inline;
    padding: 10px;
    margin-left: 20px;
}

.kundAdress input:last-child {
    display: inline;
    width: 5%;
}

.paymentIcons img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.kundAdress,
.kasaPayment {
    width: 40%;
    padding: 2%;
}

.checkout {
    background-color: rgb(82, 207, 86);
    color: white;
    border-radius: 3px;
    padding: 14px 20px;
    margin: 15px 0;
    border: none;
    cursor: pointer;
    width: 60%;
}

button:hover {
    opacity: 0.7;
}

.productList table {
    width: 100%;
}

.productList td,
th {
    width: 25%;
    text-align: right;
    padding: 15px;
}

.productList img {
    width: 20px;
    height: 20px;
}

.StripeElement {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

@media screen and (max-width: 850px) {
    .kasaContainer {
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .kasaMain {
        margin-top: 50px;
    }
    .kasaMain,
    .kasaProduct {
        width: 100%;
    }
}